@media (max-width:1024px) {
    #perfil{
        margin-top: 10%;
    }
    .container-tecnologias img {
        width: 9rem;
    }
    .container-habilidades{
        flex-wrap: wrap;
    }
}
@media (max-width: 800px) {
    .menu-icon {
        display: block;
    }

    .navegação1 ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        margin-top: 10px;
        border: #2B4041 solid 2px;
        background-color: #f5fffbe3;
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .navegação1 ul.active {
        display: block;

    }

    .navegação1 ul li {
        margin-top: 10px;
    }
    /* seção sobre*/
    .container-tecnologias img {
        width: 6rem;
    }
      /*habilidades*/
      #habilidades{
        width: 100%;
        margin-top: 30px;
      }
      
    .coluna-front-end,
    .coluna-back-end {
        width: 95%;
    }
      
    
}

@media (max-width: 480px) {

    #perfil{
        gap: 0;
    }
    #perfil button{
        font-size: 1.1rem;
    }
    .container-imagem img{
        height: 15rem;
    }
    /* seção sobre*/
    #sobre p, #sobre h1{
        width: 80%;
    }
    .container-tecnologias img {
        width: 5.5rem;
    }
   .linha{
    font-size: 1.3rem;
    padding: 1rem;
    
   }
   footer{
    width: 100%;
    font-size: .9rem;
   }
  
}