@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url(media.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.divisao{
    height: 10px;
    width: 100%;
    background: #2b4041;
    margin-top: 40px ;
    box-shadow: black 5px 2px 1px;
}
/*header*/
.navegação1 {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #f5fffb;
    box-shadow: #2b4041 .2px .2px 0px;


}

nav ul {
    list-style: none;
    display: flex;
    gap: 7rem;
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    color: #2b4041;
    font-weight: 600;
}

nav a:hover {
    color: #508283;
    transition: .3;
}

#logo {
    font-size: 1.7rem;
    padding: 20px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}


/*primeira sessao*/
#perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;

}

.container-imagem img {
    background-color: #f5fffb;
    overflow: hidden;
    border-radius: 2rem;
    border: #2b4041 solid 5px;
    height: 30rem;
}

.container-sessao {
    margin-bottom: 30px;
}

.container-sessao h2 {
    padding: 8px 0px 8px 0px;
    font-weight: 800;
}

.botao1, .botao2 {
    border: solid 2px #2b4041;
    color: #f5fffb;
    background-color: #2b4041;
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.botao1 {
    background-color: #f5fffb;
    color: #2b4041;
}

.botao1:hover {
    background-color: #2b4041;
    color: #f5fffb;
    transition: .5s;
    box-shadow: #f5fffb 2px 2px 1px;
}

.botao2:hover {
    background-color: #f5fffb;
    color: #2b4041;
    transition: .5s;
    box-shadow: #2b4041 2px 2px 1px;
}

.container-social {
    margin-top: 20px;
}

.container-social a img {
    padding: 0px 5px 0px 5px;
    height: 2.6rem;
    border-bottom: solid 2.5px #2b4041;
}

.container-social a img:hover {
    border-bottom: solid 2.5px #508283;

}

/*segunda sessão*/
#sobre {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    flex: 1; 
    margin-top: 20px;
    color: #2b4041;
}
#sobre h1{
    font-size: 3rem;
    border-bottom: #2b4041 2px solid;
    margin-bottom: 30px;
}
#sobre p {
    width: 80%;
}

.acerto-section-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tecnologias img {
    padding: 30px;
    width: 10%;
}

/*sessao habilidades*/
#habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 90%;
    height: 100vh;
    color: #508283;
    
}
.title-habilidades{
    font-size: 3rem;
    border-bottom: #2b4041 2px solid;
}
.container-habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.container-habilidades h1{
    font-size: 2rem;
    border-bottom: #2b4041 solid 3px;
    margin-bottom: 30px;
}

.coluna-front-end,
.coluna-back-end {
    width: 80%;
    text-align: center;
    border: 3.5px solid #2b4041;
    border-radius: 30px ;
    padding: 5px;
    background-color: #f5fffb;
    box-shadow: black 2px 2px 1px;
}
.linha {
    width: 100%;
    padding-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #2b4041;
    font-size: 1.3rem;
}

.habilidade {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
}

.habilidade img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
/*sessao projetos*/
#projetos {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 100px;
}
.container-projetos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap; 
}
.container-projetos img{
    width: 20rem;
    border-radius: 15px;
}
.container-titulo-projetos{
    margin-top: 50px;
    font-size: 1.5rem;
    color: #2b4041;
    text-align: center;
}
.container-projeto{
    border: #2b4041 solid 4px;
    box-shadow: 1px 1px 1px #2b4041;
    background-color: #f5fffb;
    border-radius: 20px;
    padding: 20px;
}
.container-projeto article{
    text-align: center;
    width: 20rem;
}
.container-projeto button{
    border: solid 2px #2b4041;
    color: #f5fffb;
    background-color: #2b4041;
    font-size: 1.1rem;
    border-radius: 2rem;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.container-projeto button:hover{
    background-color: #f5fffb;
    color: #2b4041;
    transition: .5s;
    box-shadow: #2b4041 1px 1px 0px;
}
.imagens-tecnologias{
    display: flex;
    justify-content: center;
}
.imagens-tecnologias img{
    width: 4rem;
}
.texto-projetos{
    padding: 30px;
}
/*footer*/
footer{
    height: 65vh;
    text-align: center;
    background-color: #f5fffb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}
footer img{
    width: 3rem;
}
#diretrizes-margem{
    margin-top: 80px;
}

@media (max-width: 800px) {
    nav ul {
        gap: 3rem; 
    }

    .container-imagem img {
        height: 20rem; 
    }
    main{
        width: 100%;
    }
    .navegação1{
        display: block;
       text-align: center;
    }
    
    nav ul {
        flex-direction: column; 
        gap: .8rem; 
    }

    #perfil{
        width: 150%;
        margin-left: 300px;
        margin-top: 100px;
        font-size: 1.8rem;
    }
    #perfil button{
        font-size: 1.8rem;
    }
    #sobre p, #sobre h1{
        margin-left: 400px;
        text-align: center;
        width: 140%;
    }
    .divisao{
        width: 200%;
    }
    /* seção sobre*/
    .container-tecnologias img {
        width: 50%;
    }
    .container-tecnologias{
        margin-left: 400px;
    }
    /*habilidades*/
    #habilidades{
      width: 150%;
      height: 180vh; 
    }
    .title-habilidades{
        margin-top: 200px;
        margin-left: 400px;
    }
   .coluna-front-end, .coluna-back-end{
        margin-left: 400px;
        width: 90%;
        height: 20rem;
   }
   .container-habilidades{
    flex-direction: column;
    margin-bottom: 200px;
   }
   #projetos{
    width: 150%;
   }
   .container-projetos{
    margin-left: 400px;

   }
   .container-titulo-projetos{
    margin-left: 400px;
   }
   .linha{
    font-size: 1.3rem;
    
   }
   footer{
    width: 150%;
   }
   footer h1{
    font-size: 1.7rem;
   }
}

@media (max-width: 480px) {
    main{
        width: 150%;
    }
    .navegação1{
        display: block;
       text-align: center;
    }
    
    nav ul {
        flex-direction: column; 
        gap: .8rem; 
    }

    #perfil{
        margin-top: 100px;
        margin-right: 35px;
    }
    #perfil button{
        font-size: 1.1rem;
    }
    .container-imagem img{
        height: 19rem;
    }
    #sobre p, #sobre h1{
        width: 80%;
    }
    /* seção sobre*/
    .container-tecnologias img {
        width: 19%;
    }
    #habilidades{
      width: 100%;
      height: 180vh; 
    }
   .coluna-front-end, .coluna-back-end{
    margin-right: 40px;
        width: 90%;
        height: 20rem;
   }
   .container-habilidades{
    flex-direction: column;
    margin-bottom: 200px;
   }
   .linha{
    font-size: 1.3rem;
    
   }
   footer{
    width: 150%;
   }
   footer h1{
    font-size: 1.7rem;
   }
}



