:root {
    --primary-color: #ff8a00;
    --light-color: #f8f8f8;
    --grey-color: #666;
}
::selection {
    background-color: #ff8a00; 
    color: #fff; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a; 
    color: #fff;
    line-height: 1.6;
}

.light-theme {
    background-color: #fff0da;
    color: #333;
}
.light-theme header {
    background: linear-gradient(to right, #ffe0b5, #ffc26c);
    border: none;
}
.light-theme .nav-links a {
    color: #1a1a1a; 
}
.light-theme .actions a{
    color: #333;
}
.light-theme .box i {
    color: #a46b14;
}
.light-theme .filter-menu label{
    color: #1a1a1a;
}
.light-theme .project-card {
    background-color: #ffb444; 
    color: white; 
}
.light-theme .container-modal {
    background-color: #ffc26c;
    color: white; 
    border:solid 3px #1a1a1a;
}
.light-theme .container-modal p {
    color: #1a1a1a;
}
.light-theme .buttons-modal a{
    color: #1a1a1a;
    border: solid 2px #1a1a1a;
}
.light-theme .modal-close {
    color: #1a1a1a;
}
.light-theme footer {
    background: linear-gradient(to right, #ffe0b5, #ffc26c);
}
.light-theme footer p {
    color: #333; 
}
.light-theme .project-card P{
    color: #fff;
}
.light-theme .contact-links a{
    color: #1a1a1a;
}
.light-theme .social-links a{
    color: #1a1a1a;
}


header {
    position: fixed;
    width: 100%;
    border-bottom: #ff8a00 solid 2px;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    z-index: 11;
    background-color: #1a1a1a;
}

#title-android{
    display: none;
    color: var(--primary-color);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li button {
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links li button:hover {
    background-color: #ff8a00;
    color: #fff;
}
.nav-links li {
    margin: 0 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff8a00;
    transform: scale(1.05);
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.menu-icon.active {
    transform: rotate(90deg);
  }


#languageToggle,
#themeToggle {
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    margin-left: 10px;
}

#languageToggle:hover,
#themeToggle:hover {
    background-color: #ff8a00;
    color: #fff;
    transform: scale(.90);

}

#languageToggle {
    background-image: linear-gradient(90deg, rgba(255,138,0,0.8) .2%, rgba(255,138,0,0.648) 100%);
    color: #fff;
}

#themeToggle {
    background-color: #343a40;
    color: #fff;
}
main {
    padding: 2rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-bottom: 4rem;
}
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.4rem;
    color: #666;
}

.section {
    width: 100%;
    padding: 4rem 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.container-profile{
    width: 100%;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 7rem 0;
    width: auto;
}
.profile {
    background: linear-gradient(to bottom right, #ff8a00, #ffc266);
    text-align: center;
    width: 400px;
    border-radius: 25%;
}

.profile:hover {
    transform: scale(1.1);
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile img {
    cursor: pointer;
    transition: 0.2s;
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 10px;
}


.title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 30px;
}

h1,
span {
    font-size: 2.5rem;
    font-weight: 500;
}

span {
    color: var(--primary-color);
}

.actions {
    display: flex;
    gap: 1.5rem;
}

.actions a {
    font-size: .9rem;
    font-weight: 500;
    color: var(--light-color);
    padding: .9rem;
    border-radius: 2rem;
    transition: 0.3s;
    text-decoration: none;
}

.actions a:nth-child(1) {
    border: #ff8a00 solid 2px;
}

.actions a:nth-child(2) {
    background-image: linear-gradient(90deg, rgba(255,138,0,0.8) .2%, rgba(255,138,0,0.648) 100%);
}

.actions a:hover {
    background-color: var(--primary-color);
    transform: scale(0.95);
}


#paragraph-about{
    text-align: center;
}


#skills {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    overflow-x: hidden;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 20px;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

.box {
    width: 100%;
    border-bottom: 2px solid #ff8a00;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
    text-align: center;
    border: #a46b14 2px solid;
    border-radius: 30px;
}
.box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 138, 0, 0.5);
    border-color: #da1b60;
}
.box i {
    width: 100%; 
    height: auto;
    color: #c96b00; 
    font-size: 4rem;
}


.filter-menu {
    margin-bottom: 2rem;
}

.filter-menu label,
.filter-menu select {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.filter-menu select {   
    padding: 0.5rem;
    border-radius: 4px;
    background-color: var(--light-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ff8a00;
    border: none;
    cursor: pointer;
}

.filter-menu select:hover {
    transform: scale(1.02);
}

/*section projects*/

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    padding: 0 15px;
}

.project-card {
    width: 500px; /* Defina um tamanho inicial */
    max-width: 100%; /* Limita o tamanho máximo */
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ff8a00;
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    cursor: pointer;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project-card h2 {
    color: #1a1a1a;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.project-card p {
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 1.5rem;
}
.project-card img {
    width: 100%;
    height: auto; 
    border-radius: 12px;
    margin-bottom: 1rem; 
    transition: transform 0.3s ease;
}
.project-card:hover img {
    transform: scale(1.1); 
}
.project-card .project-link {
    transform: translateX(-50%);
    text-decoration: none;
    background-color: #ff8a00;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    opacity: 0;
    pointer-events: none; 
    margin-top: 10px
}
.project-card:hover .project-link {
    opacity: 1;
    pointer-events: auto; 
}
.project-card:hover .project-link:hover {
    background-color: #da1b60;
}

.modal {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(8px);
    background-color:#1a1a1a4b;
    padding: 50px;
    z-index: 10;
    width: 100%; 
    height: 100vh;
    overflow: auto;
    opacity: 0;
    transition: opacity .7s ease;
    justify-content: center;
    align-items: center;
}
.modal p, .modal h2{
    margin-bottom: 30px;
    color: #f8f8f8;
}
.modal p{
    font-size: 1rem;
}
.modal h2{
    color: #c96b00;
    font-size: 2rem;
}
.modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 50px;
    color: #fff;
}
.modal-close:hover{
    color: #a46b14;
    transform: scale(0.9)
}


/*Interface video*/

.modal video {
    width:90%;
    margin-bottom: 30px;
}

.container-modal {
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #202020;
    border: #ff8a00 solid 2px;
    border-radius: 20px;
    width:90%;
    padding: 80px 30px 80px 30px;
    height: auto;
    
}

.content-modal-text{
    width: 100%;
}

.buttons-modal a{
    font-size: .9rem;
    font-weight: 500;
    color: var(--light-color);
    padding: .7rem;
    border-radius: .5rem;
    margin-right: 20px;
    transition: 0.3s;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(255,138,0,0.8) .2%, rgba(255,138,0,0.648) 100%);
}
.buttons-modal a:hover{
    background-color: #ffa500;
}


.contact-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: auto;
    max-width: 800px;
}
.icon a{
    text-decoration: none;
    font-size: 15px; 
    margin: 5px 0 0; 
    color: #555;
}
.icon {
    text-align: center;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.icon i {
    text-align: center;
    color: #ffe0b5;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 2.5rem;
    border-radius: 50%;
}


footer {
    background: linear-gradient(to right, #a46b14, #ffa500);
    padding: 2rem 0; 
    text-align: center;    
}
footer p{
    color: #fff;

}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-thumb {
    background-color: #ff8a00; 
    border-radius: 6px; 
}


.section.active {
  opacity: 1;
  transform: translateX(0);
}